@media (max-width: 767px) {
    .login-registration-links {
        display: none;
    }
    .user-email {
        display: none;
    }
    .login {
        display: none;
    }
}

.active {
    background-color: darkgrey;
    color: white;
}
